.Task {
  margin-bottom: 15px;
  border: solid grey 1px;
  border-radius: 5px;
  padding: 5px;
  width: 620px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(100, 149, 237, 0.16);
  }

  .Checkbox {
    transform: scale(1.7);
    cursor: pointer;
  }

  .Text {
    margin-left: 30px;
    font-size: 18px;
    width: 485px;
  }
}
