.Button {
    padding: 7px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;

    &.Filter {
        color: cornflowerblue;
        background-color: white;
        border: solid 3px cornflowerblue;
        box-sizing: border-box;
        width: 100px;

        &:first-child {
            margin-left: 0;
        }

        &.Active {
            color: orange;
            border: solid 5px orange;
        }

        &:hover:enabled {
            background-color: white;
            color: rgba(255, 165, 0, 0.65);
            border: solid 5px rgba(255, 165, 0, 0.65);
        }
    }

    &.Remove {
        background-color: salmon;

        &:hover {
            background-color: rgb(199, 100, 100) !important;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover:enabled {
        background-color: #42568e;
    }

    &:disabled {
        opacity: 0.7;
    }
}
