.TasksInputContainer {
  display: flex;
  padding: 20px;
  justify-content: center;

    .InputField {
      width: 650px;
      height: 35px;
      font-size: 20px;
      border: solid grey 3px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

