.header {
  width: 100%;
  height: 56px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 5px 5px grey;
  z-index: 1;
}
